*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 16px;
}
body{
  font-family: sans-serif;
  color: #1c2042;
  background-color: rgb(30, 30, 204);
}
.bookstore{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookstore-title{
  font-size: 1.5rem;
  margin: 1rem auto;
}
.books{
  display: grid;
  align-items: center;
}
@media screen and (max-width:768px) {
  .books{
    grid-template-columns: repeat ( 2 , 1fr );
  }
  
}
.book{
  padding: 1rem;
  background-color: #fff;
  margin: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.25);
}
.book_img-container{
  width: 80%;
  margin: 1rem auto;
}
.book-img {
  display: inline-block;
  -o-object-fit: contain;
  object-fit: contain;
}
.book-title{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.book-author{
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.book-price{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}